* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5% !important;
    /* 10÷16=62.5% */
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 94% !important;
        /* 15.04÷16=94% */
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 109% !important;
        /* 17.44÷16=109% */
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 125% !important;
        /* 20÷16=120% */
    }
}

body {
    width: 100%;
    background: floralwhite;
}

.headBox {
    float: left;
    width: 20%;
    /* border: 1px solid black; */
}

.imgBox {
    /* height: 250px; */
    width: 100%;
    background: floralwhite;
    /* border: 1px solid black; */
}

.logoBox {
    width: 100%;
    height: 22%;
    margin-top: 20px;
    background: white;
}

.navBox {
    text-align: center;
    padding: 10px;
    margin-top: 0%;
    margin-left: 1%;
    color: black;
    font-size: 80%;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    background: #DCDCDC;
    /* border: 1px solid black; */
}

.navBox ul li {
    /* padding-top: 15px; */
    list-style: none;
    /* height: 50px; */
    line-height: 50px;
    border-bottom: 1px solid floralwhite;
}

.navBox ul a {
    display: block;
    height: inherit;
    width: inherit;
    color: black;
    text-decoration: none;
}

.navBox ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    background: floralwhite;
    color: #ff6360;
    border-bottom: 1px solid #ff6360;
}

.navBox ul li:hover {
    text-decoration: none;
    cursor: pointer;
    background: floralwhite;
    color: #ff6360;
    border-bottom: 1px solid #ff6360;
}

.new {
    color: red;
}


/* .mainBox {
    width: 1920px;
} */

.contentBox {
    float: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 76%;
    /* border: 1px solid black; */
    margin-left: 2%;
}

.headImg {
    width: 100%;
    height: 20%;
    /* box-shadow: 6px 6px 7px #000 */
}

.titleBox {
    font-size: 120%;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 50px; */
}

.detailBox {
    width: 100%;
    padding-top: 20px;
    /* padding-left: 5%; */
}

.detailBox p {
    font-size: 16px;
    line-height: 35px;
}

.detailBox p a {
    text-decoration: none;
    color: #ff6360;
}

.detailBox p a:hover {
    color: red;
}

.lefty {
float:left; width: 50%;
}